body {
    font-family: "M PLUS 1p";
    font-weight: bold;
    max-width: 900px;
    margin: auto;
    background-color: rgb(255, 252, 254);
}

header > h1 {
    text-align: center;
    margin: 10px 5px;
}

#intro {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavenderblush;
    border-radius: 20px;
    box-shadow: inset -2.5px -2.5px 0 rgba(0, 0, 0, 0.1);
}

#profile {
    display: flex;
    flex-direction: column;
}

#portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portrait > img {
    width: 150px;
    height: 150px;
    border-radius: 75px;;
}

#profile > p {
    font-size: large;
}

#profile ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

#profile ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

#profile ul > li > a > img {
    max-width: 30px;
    max-height: 30px;
}

#description {
    height: 200px;
    margin: 10px;
}
#description > p > * {
    vertical-align: text-bottom;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: flex-start; */
}

.side_bar {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: auto;
}

#controller {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 50px;
}

#controller ul { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#controller ul li {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 2px;
    padding: 2px 5px;
    border: solid 2px dimgray;
    border-radius: 5px;
}

#play_all_btn {
    flex: 1;
    background-color: lightpink;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
#play_all_btn:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#remove_all_btn {
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
#remove_all_btn:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.remove_btn {
    position: absolute;
    top: 5px; right: 5px;
    width: 30px;
    height: 30px;
    font-size: x-large;
    text-align: center;
    line-height: 30px;
}

#playlist {
    flex: 1;
    color: gray;
    border: solid 5px gray;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist.mark {
    border: solid 5px lightsalmon;
}
#playlist.playing {
    border: solid 5px lightgreen;
}

.main {
    flex: 1;
}

.search_area {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 1;
}

.search {
    background-color: mintcream;
    border: solid 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 90px 1fr 80px;
    /* justify-content: space-between; */
}

.search > * {
    font-size: large;
}
.search > p {
    margin: 0;
    text-align: right;
}

#filter_input_area {
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px rgba(0, 0, 0, 0.5);
}

.button_area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-content: space-around;
}
.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 5px auto;
    background-color: azure;
    border: double 5px lightslategray;
    border-radius: 20px;
    cursor: pointer;
}
.button.target {
    border-color: tomato;
}


.button > p {
    margin: 0;
    text-align: center;
}

.button.basic {
    background-color: lemonchiffon;
}
.button.reply {
    background-color: bisque;
}
.button.longer {
    background-color: paleturquoise;
}
.button.special {
    background-color: lavender;
}
.button.hidden {
    background-color: darkgray;
    /* display: none; */
}