body {
    font-family: "M PLUS 1p";
    font-weight: bold;
    max-width: 900px;
    margin: auto;
}

header > h1 {
    text-align: center;
    margin: 10px 5px;
}

#intro {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavenderblush;
}

#intro > img {
    width: 150px;
    height: 150px;
    border-radius: 75px;;
}

#intro > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#intro > ul li {
    margin: 5px;
}

#intro > ul li a {
    margin: 5px;
    text-decoration: none;
}

#intro > ul li a img {
    height: 30px;
}

#notion {
    height: 200px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.side_bar {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: auto;
}

#controller {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 50px;
}

#controller ul { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#controller ul li {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 2px;
    padding: 2px 5px;
    border: solid 2px dimgray;
    border-radius: 5px;
}

#play_all_btn {
    flex: 1;
    background-color: lightpink;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
#play_all_btn:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#remove_all_btn {
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
#remove_all_btn:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.remove_btn {
    position: absolute;
    top: 5px; right: 5px;
    width: 30px;
    height: 30px;
    font-size: x-large;
    text-align: center;
    line-height: 30px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}

#playlist {
    flex: 1;
    color: gray;
    border: solid 5px gray;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist.mark {
    border: solid 5px tomato;
}
#playlist.locked {
    border: solid 5px palegreen;
}

.button_area {
    flex: 1;
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-content: space-around;
}
.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 5px auto;
    background-color: azure;
    border: double 5px lightslategray;
    border-radius: 20px;
    cursor: pointer;
}
.button > p {
    /* line-height: 150px; */
    margin: 0;
    text-align: center;
}

.button.basic {
    background-color: lemonchiffon;
}
.button.reply {
    background-color: bisque;
}
.button.longer {
    background-color: paleturquoise;
}
.button.special {
    background-color: lavender;
}